@font-face {
	font-family: Ostrich;
	src: url(fonts/ostrich-regular.ttf);
}

@font-face {
	font-family: Ostrichbold;
	src: url(fonts/ostrich-bold.ttf);
}


#header {
	height: 200px;
	background-image: url('images/tree_bark/tree_bark/tree_bark.png');
	background-color: gray;
}

.articleheader {
	display: inline-block;
}

h1 {
	font-family: Ostrichbold;
	font-size: 5em;
	text-shadow: 0px 0px .5px #FFFFFF;
	padding-top: 30px;
}

h2, h3 {
	font-family: Ostrich;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	margin-right: 8px;
	color: #ff1a75;
}

a:hover {
	color: #00b35a;
}

img {
	float: left;
	margin: 5px;
	width: 50%;
}

#footer {
	margin-top: 20px;
	text-align: center;
}

ul li {
	list-style-type: none;
}